body {
    background: #333 url(../images/giffonde.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    height: 100vh;
    /* Utiliza toda la altura de la ventana */
}

.button-container {
    display: flex;
    flex-direction: column;
    /* Los botones se colocarán uno debajo del otro */
    align-items: center;
    /* Centra los botones horizontalmente */
}

.buttoneasy,
.buttonmedium,
.buttondifi,
.buttonplay {
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Transición suave al pasar el ratón */
    margin-bottom: 15px;
    /* Espacio entre los botones */
    display: inline-block;
    text-shadow:
        0 0 5px white,
        /* Contorno blanco */
        0 0 5px white,
        /* Contorno blanco */
        0 0 5px white;
    /* Contorno blanco */
}

.buttonplay {
    margin-top: 0px;
    background-color: white;
    padding: 15px 60px;
}

.buttoneasy {
    background-color: #0095ff;
}

.buttonmedium {
    background-color: #1dcf23;
}

.buttondifi {
    background-color: #ff0000;
}

.buttoneasy:hover,
.buttonmedium:hover,
.buttondifi:hover,
.hover-activado1,
.hover-activado2,
.hover-activado3 {
    background-image: linear-gradient(to bottom right, rgb(255, 251, 0), rgb(255, 124, 2));
    transform: translateY(-5px) rotateX(10deg);
    top: 5px;
    left: 5px;
}


#minimenu {
    position: relative;
    margin-top: 40px;
    height: 400px;
    background: rgba(255, 255, 255, 0.8);
    display: block;
    margin: 0 auto;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
}

.titulo,
.subtitulo {
    margin-top: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow:
        0 0 5px white,
        /* Contorno blanco */
        0 0 5px white,
        /* Contorno blanco */
        0 0 5px white;
    /* Contorno blanco */
}


.musica {
    position: fixed;  
    bottom: 50px;     
    left: 50px;        
    z-index: 9999;    
}



#player-form {
    margin: 10px 0;
}

#player-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

#player-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#player-form button {
    padding: 10px 20px;
    background-color: #ffae00;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Transición suave al pasar el ratón */
    margin-bottom: 15px;
    /* Espacio entre los botones */
    display: inline-block;
    text-shadow:
        0 0 5px white,
        /* Contorno blanco */
        0 0 5px white,
        /* Contorno blanco */
        0 0 5px white;
    /* Contorno blanco */
}

.buttonplay:hover {
    transform: translateY(-3px);
}
#player-form button:hover {
    transform: translateY(-3px);
}

#greeting {
    margin-top: 20px;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 0 0 5px #fff;
}

#ranking {
        position: fixed;
        height: 350px;
        background: rgba(255, 255, 255, 0.8);
        width: 200px;
        bottom: 27%;     
        right: 15%;   
}

#ranking-list{
    /* margin-left: 35%; */
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: column;
    text-shadow:
        0 0 5px white,
        /* Contorno blanco */
        0 0 5px white,
        /* Contorno blanco */
        0 0 5px white;
    /* Contorno blanco */
}

#punts-list{
    list-style-type: none;
    margin-left: 550%;
}

#jugadors-list{
    list-style-type: none;
}

#ranking-list li {
    margin: 3px 0;  
}
